@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:wght@700&display=swap');

.about-me-container {
    padding: 2rem;
    background: linear-gradient(270deg, #f5f7fa, #c3cfe2);
    text-align: right;
    position: relative;
    overflow: hidden;
    font-family: 'Bebas Neue', sans-serif;
    font-size: large;
}

.about-me-container h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
    animation: titleFadeIn 1.5s ease-out;
    color: #000000;
    margin-top: 5rem;
}

.about-me-container p {
    font-size: 1.25rem;
    line-height: 1.6;
    animation: textSlideIn 2s ease-out 0.5s forwards;
    color: #000000;
    margin-bottom: 10rem;
}

.download-cv-button {
    background: transparent;
    border: 2px solid #000000;
    color: #000000;
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
    border-radius:10cap;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    
}

.download-cv-button:hover {
    background-color: #000000;
    color: #ffffff;
    margin-bottom: 10rem;
}

/* Animation Keyframes */
@keyframes titleFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes textSlideIn {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
